.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass-drafting {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
  vertical-align: middle;
}
.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  margin-left: 1rem;
  font-size: 1rem;
}
