
body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}
footer {
    margin-top: auto;
    background: #f1f1f1;
    padding: 10px 0;
}
.containet{
    flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass-drafting {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
  vertical-align: middle;
}
.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  margin-left: 1rem;
  font-size: 1rem;
}
/* cards */
.lisitng-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body
{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
/* card Effects */
.card-img-overlay{
    background-color: rgba(0,0,0,0.4) !important;
    border-radius: 1rem !important;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Edit Page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
   
    height: 30vh !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
    margin-bottom: 1rem;
}
.btns{
  display: flex;

}
.show-card{
    border-radius: 1rem !important;
    padding: 0.5rem !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.rounded-logo {
  height: 6rem;
  width:5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.1rem;
  /* spacing between logo and nav items */
}
